---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Logo from "~/components/Logo.astro";

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="announcement"></slot>
  <slot name="header">
    <Header {...headerData} isSticky  />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <footer class="relative">
      <div class="dark:bg-dark absolute inset-0 pointer-events-none" style="background: linear-gradient(300deg, rgba(146, 13, 233, 0.85), rgba(21, 54, 241, 0.85)) no-repeat;" aria-hidden="true"></div>
      <div class="relative flex flex-col md:flex-row gap-2 items-center justify-center opacity-90 max-w-7xl mx-auto px-4 py-4 sm:px-6 text-white dark:text-slate-300">
        <Logo />
        <span class="hidden md:block text-2xl">·</span>
        <span class="text-sm">Copyright © 2024 All rights reserved.</span>
      </div>
    </footer>
  </slot>
</Layout>
