---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import FancyWhiteBg from '~/components/ui/FancyWhiteBg.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'About Us',
};
---

<Layout metadata={metadata}>
  <div class="relative">
    <div class="absolute h-svh inset-0 pointer-events-none" aria-hidden="true">
      <FancyWhiteBg />
    </div>
  </div>

  <HeroText
    tagline="About Us"
    title="Who We Are"
  >
    <FancyWhiteBg slot='bg' />
  </HeroText>
  <Content
    isReversed
    items={[
      {
        title: 'Innovators in Educational Technology',
        description:
          'At CodeArrays, we are at the forefront of integrating technology in education, continuously innovating to enhance learning through digital means.',
      },
      {
        title: 'Pioneering Software Development',
        description:
          'As pioneers in software development, we focus on designing state-of-the-art digital solutions tailored for the educational sector. Our products aim to transform educational delivery and experiences.',
      },
      {
        title: 'Expertise in Digital Transformation',
        description:
          'We specialise in revolutionising the educational landscape by using technology to evolve traditional learning methods and promoting new learning paradigms',
      },
      {
        title: 'Learning for everyone',
        description:
          'Our dedication extends to making learning universally accessible. By utilising technology, we do our utmost to eliminate educational barriers and open up opportunities for learners from all backgrounds.',
      },
      {
        title: 'Dedicated to Engagement and Effectiveness',
        description:
          'Our solutions are designed to incorporate technology and enhance engagement and learning effectiveness. We aim to create captivating educational experiences that foster deep understanding.',
      },
      // {
      //   title: 'Innovative Approach',
      //   description: 'Innovation is at the heart of our operations. From product design to teaching methodologies, we are committed to incorporating innovative strategies in all facets of our work.',
      // },
    ]}
    image={{
      src: '~/assets/images/who-we-are.jpg',
      alt: 'Colorful Image',
    }}
  >
  </Content>

  <Content
    title="Our Vision"
    items={[
      {
        title: "Integration of Education and Technology",
        description:
          "We envision a future where every aspect of education is seamlessly enhanced by digital innovation. In this future, learning exceeds traditional boundaries, becoming more engaging, flexible, and tailored to individual needs."
      },
      {
        title: "Limitless Learning Environment",
        description:
          "We are dedicated to transforming learning into an exciting, boundless journey. By leveraging digital technologies, we aim to dismantle physical and digital educational barriers, fostering an environment that encourages exploration and growth at a personal pace."
      },
      {
        title: "Empowering Educators and Learners",
        description:
          "Empowerment through education is a fundamental aspect of our vision. We are focused on developing tools that not only educate but also inspire and empower. Our goal is to lead the educational transformation, creating solutions that foster knowledge, confidence, creativity, and a lifelong passion for learning."
      }
    ]}
    image={{
      src: '~/assets/images/our-vision.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    title="Our Mision"
    items={[
      {
        title: "Advancing Education with Innovative Technology",
        description:
          "Our mission is to design and implement cutting-edge educational technologies. These are not merely advanced in technical aspects but are also constructed to enhance and transform the learning experience significantly."
      },
      {
        title: "Wide Range of Effective Learning Tools",
        description:
          "We commit to creating a broad spectrum of digital learning tools such as interactive e-learning platforms, educational video games, mobile apps, and comprehensive web applications. Our focus is on creating technologically advanced tools that are grounded in educational efficacy, ensuring a meaningful impact on learners of all ages."
      },
      {
        title: "Preparing Learners for Tomorrow's World",
        description:
          "We are dedicated to equipping learners and professionals to thrive amidst rapid technological and societal changes. Our tools aim to foster critical thinking, creativity, and lifelong learning, preparing individuals for future challenges and opportunities."
      },
    ]}
    image={{
      src: '~/assets/images/mission.jpg',
      alt: 'Colorful Image',
    }}
  ></Content>

  <CallToAction
    classes={{ container: '!py-32 !pb-48' }}
    actions={[
      {
        variant: 'primary',
        text: 'Get in touch',
        href: '/contact',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">Ready to learn more?</Fragment>
    <Fragment slot="subtitle">The Join our Journey to Educational Innovation</Fragment>
  </CallToAction>
</Layout>
