---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FancyWhiteBg from '~/components/ui/FancyWhiteBg.astro';

const metadata = {
  title: 'Contact Us',
};

---

<Layout metadata={metadata}>
  <div class="relative">
    <div class="absolute h-svh inset-0 pointer-events-none" aria-hidden="true">
      <FancyWhiteBg />
    </div>
  </div>

  <HeroText tagline="Contact Us" title="Let's Connect!"></HeroText>

  <ContactUs
    action="#";
    onsubmit="contactSubmit(event)"
    title="Drop us a message today!"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: 'text',
        name: 'Name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'Email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'I consent to the usage of my info to contact me regarding my enquiry *',
    }}
    description="We try our best, to get back to you as soon as possible."
  />

  <!-- Features2 Widget ************** -->

  <Features2
    columns={1}
    title="Other ways to reach us:"
    subtitle="We are here to help!"
     classes={{
      container: "w-fit"
     }}
    items={[
      {
        classes: {
          icon: 'm-0',
          panel: 'md:flex-row flex-wrap gap-2 items-center',
          description: 'm-0'
        },
        title: 'Email',
        description: 'projects@codearrays.dev',
        icon: 'tabler:mail',
      }
    ]}
  />

</Layout>
