---
import Layout from '~/layouts/PageLayout.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import FancyWhiteBg from '~/components/ui/FancyWhiteBg.astro';

const metadata = {
  title: 'CODEARRAYS LTD',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero2
    actions={[
      { variant: 'primary', text: 'Find out more!', href: '#codearrays' },
    ]}
    image={{
      width: "auto",
      height: "auto",
      src: '~/assets/images/hero3.svg',
      alt: 'CODEARRAYS virtual reality',
    }}
  >
    <FancyWhiteBg slot='bg' />
    <Fragment slot="title">
      Empowering <span class="text-accent">Learning</span> & <span class="text-secondary">Professional Growth</span>
    </Fragment>
    <Fragment slot="subtitle">Through Advanced E-Learning, Engaging Games and Immersive Technologies</Fragment>
  </Hero2>

  <Features2
    id="codearrays"
    tagline="Redefine Learning with"
    columns={2}
    title="CODEARRAYS"
    subtitle="We focus on developing software that bridges the gap between technology and education, offering dynamic, interactive, and intuitive learning experiences."
    items={[
      {
        title: 'Our Vision',
        description:
          'Code Arrays stands at the forefront of educational software development and is committed to enhancing learning for students and professionals. Our vision combines a future where technology and education unite, enabling learners of every age to explore and realise their potential in a world of constant technological advancement.',
        icon: 'flat-color-icons:binoculars',
      },
      {
        title: 'Education & Training',
        description:
          'We aim to create a balanced ecosystem that blends innovative technology with educational needs, promoting an environment where learning is continuous, engaging, and universally accessible.',
        icon: 'flat-color-icons:reading',
      },
      {
        title: 'Methodology',
        description:
          'Our approach combines agile software development with the insights of educational psychology, resulting in solutions that are both cutting-edge and deeply rooted in effective learning strategies.',
        icon: 'flat-color-icons:workflow',
      },
      {
        title: 'Solutions',
        description:
          'We focus on incorporating the latest digital technologies—like AI-driven customisation and immersive VR/AR environments—to develop educational tools that are not only captivating but also deeply impactful.',
        icon: 'flat-color-icons:idea',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Content
    isReversed
    title="Virtual & Augmented Reality"
    subtitle="Designing Transformative Experiences"
    items={[
      {
        title: 'Immersive Learning Environments',
        description:
          'Our virtual spaces engage users with 3D educational content, enhancing comprehension and retention.',
      },
      {
        title: 'Interactive Simulations',
        description:
          'We boost motivation and focus by transforming traditional materials into interactive experiences.',
      },
      {
        title: 'Enhanced Engagement',
        description:
          'We boost motivation and focus by transforming traditional materials into interactive experiences.',
      },
      {
        title: 'Virtual Field Trips',
        description:
          'Our technology allows for the exploration of distant or imaginary worlds and environments, enriching the learning context.',
      },
      {
        title: 'Accessible Education',
        description:
          'We utilize AR and VR to accommodate diverse learning needs, overcoming physical and sensory limitations',
      },
      {
        title: 'Collaborative Learning Spaces',
        description: 'Our platforms encourage collaborative teamwork and communication within virtual environments.',
      },
    ]}
    image={{
      style: 'background: transparent; box-shadow: none;',
      src: '~/assets/images/vr-group-illustration.svg',
      alt: 'Colorful Image',
    }}
  />

  <Content
    title="E-Learning and Training"
    subtitle="Transforming Education with Technology"
    items={[
      {
        title: 'Interactive and Engaging E-Learning Platforms',
        description: `We design tailored e-learning platforms that offer rich, interactive learning experiences tailored to educational institutions and corporations' unique needs.`,
      },
      {
        title: 'Enhancing Learning with Mobile Apps',
        description:
          'Our mobile applications for Android and iOS are specifically designed for the education and training sectors, offering on-the-go access to learning resources and interactive activities.',
      },
      {
        title: 'Skills Validation and Accreditation',
        description:
          'We utilise the open badge ecosystem and micro-credentials to provide recognised and valued evidence of learning achievements, supporting the skills and competencies acquired through our platforms.',
      },
    ]}
    image={{
      style: 'background: transparent; box-shadow: none;',
      src: '~/assets/images/e-learning.svg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    title="Artificial Intelligence"
    subtitle="Harnessing AI for Smarter Learning"
    items={[
      {
        title: 'Custom-Made Chatbots',
        description:
          'Our AI chatbots deliver personalised learning assistance and interactive support, enhancing the educational journey.',
      },
      {
        title: 'Tailored AI Solutions',
        description:
          'Each solution is designed to meet the unique learning needs of users, ensuring an effective and individualised experience.',
      },
      {
        title: 'Machine Learning Integration',
        description:
          'We utilise machine learning to continually refine our content and adapt to user learning patterns for a responsive educational environment.',
      },
      {
        title: 'Advanced Image Recognition',
        description: `Our platforms employ image recognition to enhance learning in visually-dependent subjects.`,
      },
    ]}
    image={{
      height: 533,
      width: 768,
      style: 'background: transparent; box-shadow: none;',
      src: '~/assets/images/chatbot.webp',
      alt: 'Astronauts Image',
    }}
  />

  <CallToAction
    classes={{ container: '!py-32 !pb-48' }}
    actions={[
      {
        variant: 'primary',
        text: 'Get in touch',
        href: '/contact',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">Join the Future of Learning</Fragment>

    <Fragment slot="subtitle">Together we can transform the way we learn and teach.</Fragment>
  </CallToAction>
</Layout>
