---
import { SITE } from '~/utils/config';
import logo from '~/assets/logos/logo.svg';
import Image from './common/Image.astro';

---

<a href="/" class="flex gap-2 self-center items-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-white whitespace-nowrap">
  <Image src={logo} alt={"CODEARRAYS Logo"} class={"h-8"} />
  <span class="uppercase text-2xl" style="font-family: Ubuntu, system-ui, sans-serif; font-weight: bold;">{SITE.name}</span>
</a>
